<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    <div class="row">
        {% for campo in formulario %}
            <div class="col-md-6 mb-3">
                <label class="form-label">{{ campo.label }}:</label>

                {% if campo.field.widget.input_type == 'file' and campo.value %}
                    <br/>
                    <img src="{{ MEDIA_URL }}imagenes/{{ campo.value }}" width="100" alt="">
                {% endif %}

                {{ campo }}

                <div class="text-danger small">{{ campo.errors }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-4 text-center">
        <button class="btn btn-success px-4" type="submit">
            Enviar información
        </button>
        <a class="btn btn-secondary px-4" href="{% url 'usuario' %}">
            Cancelar
        </a>
    </div>
</form>
