{% extends "visitante/base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .contenedor {
    display: flex;
    flex: 1;
    height: 100vh;
    overflow: hidden;
  }

  .menu-lateral {
    width: 200px;
    background: #fff;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
  }

  .menu-lateral button {
    padding: 15px;
    border: none;
    background: none;
    color: #d20000;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  .menu-lateral button:hover {
    background-color: #f5f5f5;
  }

  .btn-inicio-activo {
    background-color: #d20000 !important;
    color: white !important;
  }

  .footer {
    background-color: #b10000;
    color: white;
    text-align: center;
    padding: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
</style>
{% endblock %}

{% block content %}
<div class="contenedor">
  <div id="menuLateral" class="menu-lateral">
      <a href="{% url 'opciones_bache' %}">
        <button class="{% if request.resolver_match.url_name == 'opciones_bache' %}btn-inicio-activo{% endif %}">
          BACHES
        </button>
      </a>
      <a href="{% url 'opciones_usuario' %}">
        <button class="{% if request.resolver_match.url_name == 'opciones_usuario' %}btn-inicio-activo{% endif %}">
          USUARIOS
        </button>
      </a>
      <a href="{% url 'opciones_reportes_admin' %}">
        <button class="{% if request.resolver_match.url_name == 'opciones_reportes_admin' %}btn-inicio-activo{% endif %}">
          REPORTES
        </button>
      </a>
        <a href="{% url 'opciones_datos' %}">
        <button class="{% if request.resolver_match.url_name == 'opciones_datos' %}btn-inicio-activo{% endif %}">
          ANALISIS
        </button>
      </a>
  </div>

  <div class="contenido">
    {% block contenido %}
    <!-- Aquí se inserta el contenido de cada vista -->
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  function ocultarMenuLateral() {
    const menu = document.getElementById('menuLateral');
    if (menu) {
      menu.style.transform = 'translateX(-200px)';
    }
  }
</script>
{% endblock %}
