{% extends "visitante/base.html" %}
{% load static %}
{% block titulo %} {% endblock %}

{% block content %}


  <main>
    <div class="content">
<!-- Imagen sin borde azul -->
    <div class="logo-img-container">
          <img src="{% static 'centro.jpeg' %}" alt="Logo BOGOBACHE">
        </div>
      <!--<div class="logo-box">BOGOBACHE</div>-->

      <h2>BOGOBACHE - NOS CUIDAMOS ENTRE TODOS</h2>

      <p>
          BOGOBACHE es una aplicación sin ánimo de lucro que promueve el cuidado vial y la participación ciudadana, brindando información actualizada sobre los baches que afectan la calidad de vida en nuestra ciudad.
          Nuestro objetivo es generar conciencia sobre el estado de las vías y facilitar el reporte oportuno de baches o incidentes que puedan poner en riesgo la seguridad de todos.

          Al registrarte en nuestra plataforma podrás:

          Recibir notificaciones en tiempo real sobre el estado de los baches cercanos.

          🙌 ¡Súmate a esta comunidad comprometida con el bienestar de todos!
          Al ser parte de BOGOBACHE, no solo estarás mejor informado, sino que contribuirás activamente a mejorar la movilidad, la seguridad y la calidad de vida de miles de ciudadanos.
          Te avisaremos cuando un bache que reportaste sea corregido, porque aquí tu voz tiene un impacto real.

          ¡Únete hoy y hagamos de nuestras calles un lugar más seguro para todos!
        
      </p>
    </div>
  </main>
{% endblock %}
